<h1>People#add</h1>
<p><%= @msg %></p>
<table class>
<form method="post" action="/people/add">
<tr>
  <th>Name</th>
  <td><input type="text" name="name"></td>
</tr>
<tr>
  <th>Age</th>
  <td><input type="text" name="age"></td>
</tr>
<tr>
  <th>Mail</th>
  <td><input type="text" name="mail"></td>
</tr>
<tr>
  <th></th>
  <td><input type="submit"></td>
</tr>
</form>
</table>
