<!DOCTYPE html>
<html>
  <head>
    <title>Cards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'cards', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cards.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="card">
      <%= yield %>
    </div>
  </body>
</html>
